* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ----------header----------- */
h1 {
  color: #ec576b;
}

.menu ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  color: #e5e338;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  transition: 1s;
}
.menu ul li a:hover {
  transform: scale(120%);
  color: #4ec5c1;
  transition: 0.5s;
}
a:visited {
  color: #e5e338;
}
/* ----------Menú lateral--------- */
.menu-lateral {
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: flex;
}
.menu-lateral ul li a {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  transition: 0.2s;
}
.menu-lateral ul li{
  float: left;
}
.menu-lateral ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 50px;
  background-color: #4ec5c1;
  border-radius: 0 30px 0 0;
}
.menu-lateral ul a:hover {
  color: #ec576b;
  font-size: 1.6em;
}
.articulo-uno,
.articulo-dos,
.articulo-tres,
.articulo-cuatro,
.articulo-cinco {
  height: auto;
}

/* ----------sección uno----------- */

.seccion-uno {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.seccion-uno h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 3em;
}
.descripcion {
  color: #4ec5c1;
  text-align: center;
  width: auto;
  height: 32px;
  overflow: hidden;
  font-size: 1.8em;
}
.descripcion p {
  position: relative;
  animation: descripcion 9s ease infinite;
}
@keyframes descripcion {
  0% {
    top: 0;
  }
  15% {
    top: -34px;
  }
  30% {
    top: -72px;
  }
  45% {
    top: -108px;
  }
  60% {
    top: -72px;
  }
  75% {
    top: -34px;
  }
  90% {
    top: 0;
  }
}
.desc-breve p {
  color: #e5e338;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 211px;
  width: 700px;
  font-size: 1.3em;
}

/*---------- Seccion Dos -----------*/
.seccion-dos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}
.seccion-dos h2 {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.bloque-uno,
.bloque-dos,
.bloque-tres,
.bloque-cuatro {
  margin-bottom: 20px;
  max-height: 90px;
  max-width: 700px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.bloque-uno h3,
.bloque-dos h3,
.bloque-tres h3,
.bloque-cuatro h3 {
  padding: 20px 0 10px 20px;
}
.bloque-uno h4,
.bloque-dos h4,
.bloque-tres h4,
.bloque-cuatro h4 {
  padding-left: 20px;
}
.bloque-uno p,
.bloque-dos p,
.bloque-tres p,
.bloque-cuatro p {
  padding: 0 20px 20px 20px;
}
.bloque-uno:hover,
.bloque-dos:hover,
.bloque-tres:hover,
.bloque-cuatro:hover {
  max-height: 1000px;
}

/*---------- Seccion Tres -----------*/

.seccion-tres {
  width: 100%;
}
.seccion-tres h2 {
  color: #4ec5c1;
  font-size: 2em;
  padding-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.seccion-tres .iconos-programacion {
  font-size: 3.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.seccion-tres .iconos-diseño {
  font-size: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.seccion-tres .iconos-diseño span {
  cursor: default;
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 50px;
  color: black;
  background-color: #ec576b;
  margin-bottom: 100px;
}
.ps-icon:hover {
  background-color: aqua;
}

.html-icon:hover {
  transform: scale(110%);
  color: orange;
  transition: 1s;
}
.css-icon:hover {
  transform: scale(110%);
  color: blue;
  transition: 1s;
}
.js-icon:hover {
  transform: scale(110%);
  color: yellow;
  transition: 1s;
}
.react-icon:hover {
  transform: scale(110%);
  color: lightskyblue;
  transition: 1s;
}
.python-icon:hover {
  transform: scale(110%);
  color: yellow;
  transition: 1s;
}
.sql-icon:hover {
  transform: scale(110%);
  color: blue;
  transition: 1s;
}

.iconos-diseño .ps-icon:hover {
  transform: scale(110%);
  background-color: blue;
  transition: 1s;
}
.iconos-diseño .ai-icon:hover {
  transform: scale(110%);
  background-color: orange;
  transition: 1s;
}
.iconos-diseño .id-icon:hover {
  transform: scale(110%);
  background-color: brown;
  transition: 1s;
}
.iconos-diseño .xd-icon:hover {
  transform: scale(110%);
  background-color: purple;
  transition: 1s;
}
/* ----------Seccion cuatro---------- */
.seccion-cuatro {
  margin-bottom: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}
.seccion-cuatro h2 {
  padding-top: 100px;
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
}
/* ----------Seccion cinco---------- */
.seccion-cinco h2 {
  color: #4ec5c1;
  font-size: 2em;
  padding-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.sobre-mi {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.sobre-mi p {
  color: #e5e338;
  max-width: 500px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.sobre-mi .foto {
  background: url(/assets/imagenes/PicsArt_12-30-11.34.35.jpg) no-repeat center;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-items: center;
}
/* ----------seccion seis---------- */
.contacto {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.contacto .numero-correo {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: flex-end;
}
.contacto .numero-correo p {
  color: #e5e338;
  margin-left: 20px;
}
.contacto .redes{
  margin-top: 20px;
}
.contacto .redes ul li {
  float: left;
  font-size: 2em;
  margin-left: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.contacto .redes ul li a {
  color: #ec576b;
}
.contacto .redes ul li:hover {
  transform: scale(115%);
  transition: 1s;
}
.contacto .redes .fa-file-pdf:hover {
  color: red;
  transition: 1s;
}
.contacto .redes .fa-linkedin:hover {
  color: blue;
  transition: 1s;
}
.contacto .redes .fa-github:hover {
  color: orange;
  transition: 1s;
}
.contacto .redes .fa-behance:hover {
  color: lightblue;
  transition: 1s;
}
footer {
  text-align: center;
  color: #e5e338;
  background-color: black;
  padding: 20px;
}
footer h6 {
  display: inline;
}

.articulo-uno {
  height: 100vh;
  background-color: black;
}
.articulo-dos {
  padding: 40px;
  background-color: #ec576b;
  height: 100vh;
  overflow: hidden;
}
.articulo-tres {
  height: 100vh;
  background-color: black;
  color: #ec576b;
}
.articulo-tres .iconos-diseño span {
  color: black;
  background-color: #ec576b;
}

.articulo-cuatro {
  height: 100vh;
  background-color: #ec576b;
}
.articulo-cinco {
  height: 75vh;
  background-color: black;
}
.contacto-seccion {
  height: 25vh;
  background-color: black;
}
.linea-divisora {
  width: 100%;
  height: 2px;
  background-color: #4ec5c1;
}

/* ------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  /* ----------header----------- */
  .menu ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
  }
  .menu ul li {
    float: left;
  }
  .menu ul li a {
    color: #e5e338;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    transition: 1s;
  }
  .menu ul li a:hover {
    transform: scale(110%);
    color: #4ec5c1;
    transition: 0.5s;
  }
  a:visited {
    color: #e5e338;
  }
  /* ----------Menú lateral--------- */
  .menu-lateral {
    bottom: 0;
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
  }
  .menu-lateral ul li a {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    transition: 0.2s;
  }
  .menu-lateral ul li{
    float: left;
  }
  .menu-lateral ul {
    justify-content: space-around;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #4ec5c1;
    border-radius: 30px 30px 0 0;
  }
  .menu-lateral ul a:hover {
    color: #ec576b;
    font-size: 1.6em;
  }
  .articulo-uno,
  .articulo-dos,
  .articulo-tres,
  .articulo-cuatro,
  .articulo-cinco {
    height: auto;
  }
  /* ----------sección uno----------- */
  .seccion-uno {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .seccion-uno h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 2.5em;
  }
  .descripcion {
    color: #4ec5c1;
    text-align: center;
    width: auto;
    height: 25px;
    overflow: hidden;
    font-size: 1.4em;
  }
  .descripcion p {
    position: relative;
    animation: descripcion 9s ease infinite;
  }
  @keyframes descripcion {
    0% {
      top: 0;
    }
    15% {
      top: -25px;
    }
    30% {
      top: -56px;
    }
    45% {
      top: -84px;
    }
    60% {
      top: -56px;
    }
    75% {
      top: -25px;
    }
    90% {
      top: 0;
    }
  }
  .articulo-uno{
    padding: 40px;
  }
  .desc-breve p {
    color: #e5e338;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 25px;
    width: auto;
    font-size: 1em;
    overflow: hidden;
    margin-bottom: 100px;
  }

  /*---------- Seccion Dos -----------*/
  .seccion-dos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }
  .seccion-dos h2 {
    margin: 0;
    font-size: 2em;
    text-align: center;
  }
  .bloque-uno,
  .bloque-dos,
  .bloque-tres,
  .bloque-cuatro {
    display: inline;
    margin-bottom: 20px;
    height: auto;
    max-width: 500px;
  }
  .bloque-uno h3,
  .bloque-dos h3,
  .bloque-tres h3,
  .bloque-cuatro h3 {
    padding: 20px 0 10px 20px;
  }
  .bloque-uno h4,
  .bloque-dos h4,
  .bloque-tres h4,
  .bloque-cuatro h4 {
    padding-left: 20px;
  }
  .bloque-uno p,
  .bloque-dos p,
  .bloque-tres p,
  .bloque-cuatro p {
    padding: 0 20px 20px 20px;
  }
  /*---------- Seccion Tres -----------*/
  .articulo-tres{
    padding: 40px;
  }
  .seccion-tres .design-skills{
    margin-top: 40px;
  }
  .seccion-tres h2 {
    padding: 0;
    color: #4ec5c1;
    font-size: 1.5em;
    text-align: center;
  }
  .seccion-tres .iconos-programacion {
    font-size: 3.5em;
    display: flex;
    justify-content: space-evenly;
  }
  .seccion-tres .iconos-diseño {
    font-size: 2.5em;
    display: flex;
    justify-content: space-evenly;
  }
  .seccion-tres .iconos-diseño span {
    margin: 0;
    cursor: default;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
    color: black;
    background-color: #ec576b;
  }
  .html-icon:hover {
    transform: scale(110%);
    color: orange;
    transition: 1s;
  }
  .css-icon:hover {
    transform: scale(110%);
    color: blue;
    transition: 1s;
  }
  .js-icon:hover {
    transform: scale(110%);
    color: yellow;
    transition: 1s;
  }
  .react-icon:hover {
    transform: scale(110%);
    color: lightskyblue;
    transition: 1s;
  }
  .python-icon:hover {
    transform: scale(110%);
    color: yellow;
    transition: 1s;
  }
  .sql-icon:hover {
    transform: scale(110%);
    color: blue;
    transition: 1s;
  }

  .iconos-diseño .ps-icon:hover {
    transform: scale(110%);
    background-color: blue;
    transition: 1s;
  }
  .iconos-diseño .ai-icon:hover {
    transform: scale(110%);
    background-color: orange;
    transition: 1s;
  }
  .iconos-diseño .id-icon:hover {
    transform: scale(110%);
    background-color: brown;
    transition: 1s;
  }
  .iconos-diseño .xd-icon:hover {
    transform: scale(110%);
    background-color: purple;
    transition: 1s;
  }
  /* ----------Seccion cuatro---------- */
  .articulo-cuatro{
    padding: 40px;
  }
  .seccion-cuatro {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .seccion-cuatro h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
  }
  /* ----------Seccion cinco---------- */
  .articulo-cinco{
    padding: 40px;
  }
  .seccion-cinco h2 {
    color: #4ec5c1;
    font-size: 1.5em;
    padding:0;
    margin:0;
    text-align: center;
  }
  .sobre-mi {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "foto foto foto foto"
                          "desc desc desc desc";
  }
  .sobre-mi .foto {
    grid-area: foto;
    margin: auto;
    margin-top: 40px;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    background-color: pink;
  }
  .sobre-mi p {
    grid-area: desc;
    color: #e5e338;
    width: auto;
    padding: 20px;
  }
  /* ----------seccion seis---------- */
  .contacto{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-areas: "contacto"
                          "redes";
  }
  .contacto .numero-correo {
    grid-area: contacto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-content: space-around;
    color: #e5e338;
  }
  .contacto .redes{
    display: flex;
    justify-content: space-evenly;
    grid-area: redes;
  }
  .contacto .redes ul li a {
    margin-bottom: 52px;
    color: #ec576b;
  }
  .contacto .redes ul li {
    float: left;
    padding: 0;
    margin: 0 20px;
  }
  .contacto .redes ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .contacto .redes ul li:hover {
    transform: scale(115%);
    transition: 1s;
  }
  .contacto .redes .fa-file-pdf:hover {
    color: red;
    transition: 1s;
  }
  .contacto .redes .fa-linkedin:hover {
    color: blue;
    transition: 1s;
  }
  .contacto .redes .fa-github:hover {
    color: orange;
    transition: 1s;
  }
  .contacto .redes .fa-behance:hover {
    color: lightblue;
    transition: 1s;
  }
  footer {
    display: none;
    justify-content: flex-end;
    text-align: center;
    color: #e5e338;
    background-color: black;
    padding: 20px;
  }
  footer h6 {
    font-size: 0.2em;
    display: inline;
  }

  .articulo-uno {
    background-color: black;
  }
  .articulo-dos {
    padding: 40px;
    background-color: #ec576b;
    overflow: hidden;
  }
  .articulo-tres {
    background-color: black;
    color: #ec576b;
  }
  .articulo-tres .iconos-diseño span {
    color: black;
    background-color: #ec576b;
  }

  .articulo-cuatro {
    background-color: #ec576b;
  }
  .articulo-cinco {
    background-color: black;
  }
  .contacto-seccion {
    background-color: black;
  }
  .linea-divisora {
    width: 100%;
    height: 1px;
    background-color: #4ec5c1;
  }
}
