* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ----------header----------- */
h1 {
  color: #ec576b;
}

.menu ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  color: #e5e338;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  transition: 1s;
}
.menu ul li a:hover {
  transform: scale(105%);
  color: #4ec5c1;
  transition: 0.8s;
}
a:visited {
  color: #e5e338;
}
/* ----------Menú lateral--------- */
.menu-lateral {
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: flex;
}
.menu-lateral ul li a {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  transition: 0.5s;
}
.menu-lateral ul li {
  float: left;
}
.menu-lateral ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 50px;
  background-color: #4ec5c1;
  border-radius: 0 30px 0 0;
}
.menu-lateral ul a:hover {
  color: #ec576b;
  font-size: 1.6em;
}
/* ----------sección uno----------- */

.seccion-uno {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.articulo-uno {
  height: 100vh;
  background-color: black;
}
.seccion-uno h1 {
  text-align: center;
  margin-top: 200px;
  font-size: 3em;
}
.descripcion {
  color: #4ec5c1;
  text-align: center;
  width: auto;
  height: 32px;
  overflow: hidden;
  font-size: 1.8em;
}
.descripcion p {
  position: relative;
  animation: descripcion 9s ease infinite;
}
@keyframes descripcion {
  0% {
    top: 0;
  }
  15% {
    top: -34px;
  }
  30% {
    top: -72px;
  }
  45% {
    top: -108px;
  }
  60% {
    top: -72px;
  }
  75% {
    top: -34px;
  }
  90% {
    top: 0;
  }
}
.desc-breve p {
  color: #e5e338;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 211px;
  width: 700px;
  font-size: 1.3em;
}
/*---------- Seccion Dos -----------*/
.red-title {
  color: #000000;
  background-color: #4ec5c1;
  width: 5rem;
  padding: 3px;
  border-radius: 5px;
}
.blue-title {
  color: #000000;
  background-color: #ec576b;
  width: 5rem;
  padding: 3px;
  border-radius: 5px;
  margin: 0;
}
.iconos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px;
  flex-wrap: wrap;
}
.iconos img {
  width: 50px;
  height: auto;
  filter: grayscale(100%);
  transition: 0.8s;
  margin: 0 10px;
}
.iconos img:hover {
  filter: grayscale(0%);
  scale: 105%;
}
/*---------- Seccion Tres -----------*/
.articulo-tres {
  color: #ec576b;
  margin: 0;
}
.seccion-tres h2 {
  color: #4ec5c1;
  padding: 40px 0;
  text-align: center;
  font-size: 2rem;
}
.contenedor-proyectos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.proyecto {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: dotted #4ec5c1ad 2px;
}
.proyecto img {
  width: auto;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.proyecto h3 {
  font-size: 1.5em;
  margin: 20px 0;
  padding: 0 20px;
}
.proyecto p {
  padding: 0 20px;
  color: rgb(65, 64, 64);
  font-size: 0.8rem;
}
.proyecto a {
  background-color: #e5e338;
  text-decoration: none;
  border-radius: 20px;
  color: #000000;
  font-weight: 600;
  transition: 1s;
}
.proyecto button {
  margin: 40px 20px 30px 0;
  background-color: #e5e338;
  border-radius: 20px;
  color: #000000;
  transition: 1s;
  border: none;
  float: right;
}
.proyecto button a {
  padding: 10px 20px;
}
.proyecto button a:hover {
  padding: 12px 22px;
  background-color: #ec576b;
}
/* ----------Seccion cuatro---------- */
.articulo-cuatro{
  background-color: #000000;
}
.seccion-cuatro {
  display: flex;
  padding: 40px;
  width: 70%;
  margin: 0 auto;
}
 .seccion-cuatro .galeria{
  flex: 25%;
  padding: 8px;
}
.seccion-cuatro img{
  width: 100%;
  margin-top: 10px;
  transition: 1s;
  border-radius: 10px;
}
.articulo-cuatro h2{
  color: #4ec5c1;
  padding: 40px 0;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0;
}
.seccion-cuatro img:hover{
  scale: 105%;
}
html {
  scroll-behavior: smooth;
}



#articulo-cuatro-cinco{
  padding: 40px;
}
.contenedor-sobre-mi{
  display: flex;
  color: #000000;
  justify-content: center;
}
.contenedor-sobre-mi h3{
  font-size: 2rem;
}
.contenedor-sobre-mi a{
  text-decoration: none;
  color: #000000;
}
.sobre-mi{
  margin-right: 20px;
}
.sobre-mi-contactos p{
  display: inline-block;
}
.contenedor-sobre-mi .sobre-mi{
  display: flex;
  width: 25%;
  flex-direction: column;
}
.estudios h4{
  background-color: #ec576b;
  width: 5rem;
  padding: 3px;
  border-radius: 5px;
}
.experiencia h4{
  background-color: #4ec5c1;
  width: 5rem;
  padding: 3px;
  border-radius: 5px;
  color: #000000;
}
.border{
  border: 2px dotted #4ec5c1;
  padding: 20px;
  border-radius: 10px;
}
.contenedor-experiencia{
  width: 25%;
}
.sobre-mi-mas{
  width: 25%;
  margin-left: 20px;
}
/* ----------Seccion cinco---------- */
.articulo-cinco{
  background-color: #000000;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.seccion-cinco{
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 40%;
  align-items: center;
  text-align: center;
}
.seccion-cinco img{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 80px;
}
.seccion-cinco h3{
  font-size: 1.6rem;
  margin-bottom: 80px;
}
.seccion-cinco a{
  text-decoration: none;
  color: #fff;
}
.diseñador{
  background-color: #ec576b;
  padding: 1px 2px;
  border-radius: 5px;
}
.desarrollador{
  background-color: #4ec5c1;
  padding: 1px 2px;
  border-radius: 5px;
  color: #000000;
}

/* ----------seccion seis---------- */
footer {
  text-align: right;
  color: #e5e338;
  background-color: black;
  padding: 20px;
}
footer h6 {
  display: inline;
}
.linea-divisora {
  width: 100%;
  height: 2px;
  background-color: #4ec5c1;
}

.seccion {
  margin: 10px 0;
  opacity: 0; /* Inicialmente oculto */
  transform: translateY(50px); /* Efecto de entrada desde abajo */
  transition: opacity 1s ease, transform 0.8s ease;
}

/* Clase para mostrar las secciones */
.seccion.visible {
  opacity: 1;
  transform: translateY(0);
}




























/* ------------------------------------------------------------------------------------- */
@media (max-width: 768px) {





/* --------------------------------------------------------------------------------------------------------- */

  /* ----------header----------- */
  .menu ul li a {
    padding: 10px;
    font-size: 1em;
  }
/* ----------Menú lateral--------- */
.menu-lateral {
  bottom: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: center;
}
.menu-lateral ul li a {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  transition: 0.5s;
}
.menu-lateral ul li {
  float: left;
}
.menu-lateral ul {
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #4ec5c1;
  border-radius: 30px 30px 0 0;
}
.menu-lateral ul a:hover {
  color: #ec576b;
  font-size: 1.6em;
}
  /* ----------sección uno----------- */
  .seccion-uno h1 {
    font-size: 2.5em;
  }
  .descripcion {
    height: 25px;
    overflow: hidden;
    font-size: 1.4em;
  }
 
  @keyframes descripcion {
    0% {
      top: 0;
    }
    15% {
      top: -30px;
    }
    30% {
      top: -56px;
    }
    45% {
      top: -84px;
    }
    60% {
      top: -56px;
    }
    75% {
      top: -30px;
    }
    90% {
      top: 0;
    }
  }
  .articulo-uno {
    padding: 15px;
  }
  .desc-breve p {
    width: auto;
    font-size: 1em;
  }
  /*---------- Seccion Tres -----------*/
  .articulo-tres {
    padding: 0;
    background-color: #fff;
  }
  .seccion-tres h2 {
    padding: 20px 0;
    font-size: 1.5rem;
  }
  .proyecto {
    width: 90%;
  }
  .proyecto img {
    height: 150px;
  }
  /* ----------Seccion cuatro---------- */
  .articulo-cuatro{
    background-color: #000000;
    padding-bottom: 40px;
  }
  .seccion-cuatro {
    padding: 10px;
    width: 90%;
  }
  .seccion-cuatro img{
    height: 100px;
    object-fit: cover;
  }
   .seccion-cuatro .galeria{
    padding: 4px;

  }

  #articulo-cuatro-cinco{
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .contenedor-sobre-mi{
    flex-direction: column;
    width: 90%;
  }
  .contenedor-sobre-mi .sobre-mi{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .border{
    padding: 10px;
  }
  .contenedor-experiencia{
    margin-top: 40px;
    width: 100%;
  }
  .sobre-mi-mas{
    width: 100%;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    background-color:#fff;
  }
  /* ----------Seccion cinco---------- */
  .articulo-cinco{
    padding: 20px;
  }
  .seccion-cinco{
    width: 90%;
  }
  .seccion-cinco img{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  .seccion-cinco h3{
    font-size: 1.5rem;
  }  
}
